body {color: #2E2F42}

/* Header */
.top-line {color: #2E2F42;}
.top-line:hover {color: #404BBF;}

/* Section 1 */
.hero-bg {background-color: #2E2F42;}
.hero-text {color: #FFFFFF;}
.hero-button {background-color: #4D5AE5;}
.hero-button:hover {background-color: #404BBF;;}
.bt-text {color:#FFFFFF;}